<div class="modal fade" id="agregarCIMO" tabindex="-1" role="dialog" aria-labelledby="agregarCAMO" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar</h5>
        <button type="button" class="close" id="closeAGUSMO" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form ng-submit="gestionCI(1)">
      <div class="modal-body">
        <input type="text" class="form-control" style="margin: 3px 10px" ng-model="lugarCI" placeholder="Lugar" required/>
        <input type="date" class="form-control" style="margin: 3px 10px" ng-model="fechaCI" placeholder="Fecha" required/>
        <select class="form-control" style="margin: 3px 10px" ng-model="contactoCI" ng-options="con as con.nombre for con in contactosList"></select>
        <textarea type="text" class="form-control" style="margin: 3px 10px" ng-model="descripcionCI" placeholder="Descripcion" ></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-sm btn-outline-primary">Añadir Categoria</button>
      </div>
      </form>
    </div>
  </div>
</div>