<div class="modal fade" id="eliminarCIMO" tabindex="-1" role="dialog" aria-labelledby="eliminarCAMO" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Eliminar</h5>
        <button type="button" class="close" id="closeAGUSMO" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form ng-submit="gestionCI(3)">
      <div class="modal-body">
        <h4 class="text-center">¿Decea borrar esta cita?</h4>
         <h5>ID: {{citaID}}</h5>
         <h5>Fecha: {{fechaCI}} </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-sm btn-outline-danger">Borrar Contacto</button>
      </div>
      </form>
    </div>
  </div>
</div>