body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #eaeaea
}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e9fef7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #3a3a3a;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

header{
    background: #f8e7f5;
    color: #3f3f3f;
    font-size: 1.6em;
    padding: 4px 20px;
}
header *{
    margin: 1px 5px;
}

.container-item{
    background: #d4d4d4;
    color: #353535;
    padding: 3px 7px;
}

.container-item .item-box{
    border-bottom: solid 1.5px #1a1a1a;
    border-radius: 2px;
    padding: 5px 9px;
}