<div class="modal fade" id="editarUSMO" tabindex="-1" role="dialog" aria-labelledby="editarUSMO" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
        <button type="button" class="close" id="closeAGUSMO" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form ng-submit="gestionUS(2)">
      <div class="modal-body">
        <h4 class="text-center">ID: {{ContID}}</h4>
        <input type="text" class="form-control" style="margin: 3px 10px" ng-model="nombreUS" placeholder="Nombre" required/>
        <input type="text" class="form-control" style="margin: 3px 10px" ng-model="apellidoUS" placeholder="Apellido" required/>
        <input type="tel" class="form-control" style="margin: 3px 10px" ng-model="telefonoUS" placeholder="Telefono" required/>
        <input type="email" class="form-control" style="margin: 3px 10px" ng-model="correoUS" placeholder="Correo" required/>
        <select class="form-control" style="margin: 3px 10px" ng-model="categoriaUS" ng-options="cate as cate.nombre for cate in categoryList"></select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-sm btn-outline-warning">Modificar Contacto</button>
      </div>
      </form>
    </div>
  </div>
</div>