<div class="modal fade" id="eliminarUSMO" tabindex="-1" role="dialog" aria-labelledby="eliminarUSMO" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Eliminar</h5>
        <button type="button" class="close" id="closeAGUSMO" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form ng-submit="gestionUS(3)">
      <div class="modal-body">
        <h3 class="text-center">¿Decea borrar este contacto?</h3>
        <h4 class="text-center">ID: {{ContID}}</h4>
        <h4 class="text-center">Nombre: {{nombreUS}} {{apellidoUS}}</h4>
        <h4 class="text-center">Telefono: {{telefonoUS}}</h4>
        <h4 class="text-center">Correo: {{correoUS}}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-sm btn-outline-danger">Borrar Contacto</button>
      </div>
      </form>
    </div>
  </div>
</div>