<!DOCTYPE html>
<html ng-app="agenda">
<head>
  <meta charset="utf-8">
  <title><%=title %></title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <%-opciones %>
 </div>
 <header>
   <a href="http://localhost" style="text-decoration: none;color: #3f3f3f;">Agenda  </a>
   <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
 </header>
    <div class="container">
