<div class="modal fade" id="editarCAMO" tabindex="-1" role="dialog" aria-labelledby="editarCAMO" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
        <button type="button" class="close" id="closeAGUSMO" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form ng-submit="gestionCA(2)">
        <div class="modal-body">
          <h4>ID: {{cateID}}</h4>
          <input type="text" class="form-control" style="margin: 3px 10px" ng-model="nombreCA" placeholder="Nombre" required/>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-sm btn-outline-warning">Modificar Categoria</button>
      </div>
      </form>
    </div>
  </div>
</div>