<% include ../Shared/layout %>
    <h2 class="text-center"><%=saludo %></h2>
    <div class="row" ng-controller="categoryController">
        <div class="col-lg-11" >
            <div class="form-inline">
                <input type="text" class="form-control" style="margin: 1px 5px" placeholder="Buscar..." ng-model="searchCA" />
                <button type="button" class="btn btn-sm btn-outline-success" data-target="#agregarCAMO" data-toggle="modal">Agregar</button>
            </div>

           <div class="container-item" >
             <div class="item-box" ng-repeat="cate in categoryList | filter: searchCA ">
               <h5>Nombre: {{cate.nombre}}</h5>
               <div class="btn-group"><button type="button" ng-click="setCate(cate)" data-target="#editarCAMO" data-toggle="modal" class="btn btn-sm btn-outline-warning">Modificar</button><button type="button" ng-click="setCate(cate)" data-target="#eliminarCAMO" data-toggle="modal" class="btn btn-sm btn-outline-danger">Borrar</button></div></td>
             </div>
           </div>

    <% include agregarMO %>
    <% include editarMO %>
    <% include eliminarMO %>
    </div>
<% include ../Shared/footer %>