<% include Shared/layout %>
<div class="row" ng-controller="autenticarUS">
  <div class="col-md-4 offset-md-3" style="margin-top: 7%;">
    <h2 class="text-center">Iniciar Sesion</h2>
    <img style="margin: 10px 25%; width: 50%; border-radius: 3px" src="../images/user.jpg"/>
    <form class="form-group">
        <input type="text" style="margin: 6px;" ng-model="nickAUTH" class="form-control" placeholder="Usuario">
        <input type="password" style="margin: 6px;" ng-model="passAUTH" class="form-control" placeholder="Contraseña">
        <button type="button" style="margin: 6px;" ng-click="autenticar()"  class="btn btn-outline-primary">Entrar</button>
   </div>
   <div class=" offset-md-3 alert alert-danger" ng-show="showErrorAGMO">
     <h3 class="alert-heading">¡Vaya!, parece que tenemos problemas</h3>
     <p>{{errorAGMO}}</p>
   </div>
    </form>
  </div>
</div>
<% include Shared/footer %>
