 <% include Shared/layout %>
 <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar</h5>
        <button type="button" class="close" id="closeAGUSMO" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="../api/contacto/cargar" method="post">
      <div class="modal-body">
        <input type="file" class="form-control" id="file" name="file" style="margin: 3px 10px" accept="image/png,image/jpg,image/jpeg" file-model="urlIMG" placeholder="Imagen" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-sm btn-outline-primary">Añadir Contacto</button>
      </div>
      </form>
    </div>
    <% include Shared/footer %>