<!DOCTYPE html>
<html ng-app="agenda">
<head>
  <meta charset="utf-8">
  <title>Error</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
<div class="container">

  <div class="row">
    <h1>NEL.</h1>
  </div>

  <h1><%= message %></h1>
  <h2><%= error.status %></h2>
  <pre><%= error.stack %></pre>
  
</div>
</body>
</html>
