<% include Shared/layout %>
    <div class="row">
        <div class="col-lg-4">
            <h1>Hola, bienvenido</h1>
            <h5>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</h5>
             <a href="/registrar" class="btn btn-outline-primary">Registrar</a>

        </div>
    </div>
<% include Shared/footer %>